
1. VK Project/.DS_Store
1. VK Project/ProjectVK/Pods/.DS_Store
1. VK Project/ProjectVK/Pods/
.DS_Store
1. VK Project/.DS_Store
1. VK Project/ProjectVK/.DS_Store
1. VK Project/.DS_Store
1. VK Project/ProjectVK/.DS_Store
1. VK Project/ProjectVK/ProjectVK/.DS_Store
1. VK Project/ProjectVK/ProjectVK/Controllers Group/.DS_Store
1. VK Project/ProjectVK/ProjectVK/Views/.DS_Store
